/* This is the header portion of the code */
header {
    background-color: #CB1112;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 { 
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    padding-left: 5px;
}

header a {
    text-decoration: none;
    color: #F5F6E6;
}

.logo {
    float: left;
    width: 120px;
    border-radius: 50em;
}

/* This is the nav portion of the code */
nav {
    text-align: center;
    font-size: 1.2em;
    position: sticky;
    top: 0;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    background-color: #F5F6E6;
    color: #624E21;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: #F5F6E6;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
}
.active {
    background-color: #624E21;
}

/*  */
* {
    box-sizing: border-box;
}
body { 
    background-color: #F5F6E6;
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
}
section {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom,#F5F6E6,#F5F6E6, #CB1112);
}
section p {
    font-size: 25px;
    text-align: center;
    color: #333;
    line-height: 1.5;
}
section h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #624E21;
    padding: 35px;
    margin: 10px;
}
section img {
    width: 50%;
}


/* Add or update CSS rules for events */
.event, .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom,#F5F6E6,#F5F6E6, #CB1112);
    padding: 20px;
    margin-bottom: 20px;
}

.event h1, .video h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    color: #624E21;
    margin-bottom: 10px;
}

.event p, .video p {
    font-size: 25px;
    text-align: center;
    color: #F5F6E6;
    line-height: 1.5;
}

.event img, .video video {
    width: 50%;
    margin-bottom: 20px;
}

.faq {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(to bottom,#F5F6E6,#F5F6E6);
    padding: 20px;
    margin-bottom: 20px;
}

.faq h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    color: #624E21;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question h2 {
    font-size: 28px;
    color: #624E21;
    margin-bottom: 10px;
}

.question p {
    font-size: 24px;
    text-align: center;
    color: #333;
    line-height: 1.5;
}


.question button {
    margin: 10px; 
    padding: 15px 30px; 
    font-size: 18px; 
    border: none; 
    border-radius: 5px; 
    background-color: #624E21; 
    color: #F5F6E6; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.question button:hover {
    background-color: #CB1112; 
}

.question a {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #CB1112;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom,#F5F6E6,#F5F6E6);
    padding: 20px;
    margin-bottom: 20px;
}

.calendar h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    color: #624E21;
    margin-bottom: 20px;
}

/* Style for the table */
table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #624E21;
    color: #F5F6E6;
}
.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom,#F5F6E6,#F5F6E6, #CB1112);
    padding: 20px;
    margin-bottom: 20px;
}

.form-section h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color: #624E21;
    margin-bottom: 20px;
}

/* Style for form elements */
form {
    text-align: center;
}

label {
    font-weight: bold;
    font-size: 20px;
}

input[type="email"],
textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #624E21;
    color: #F5F6E6;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #CB1112;
}
footer {
    font-size: .70em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}

/* Define your existing styles here */

/* Media query for smaller screens (up to 768px) */
@media (max-width: 768px) {
    header {
        padding: 0.5em; 
    }

    header h1 {
        font-size: 2em; 
    }

    nav {
        font-size: 1em; 

    }
    nav li a {
        padding: 10px 20px; 
    }
    .question button {
        width: auto; 
        
    }

    
}

/* Media query for larger screens (above 768px) */
@media (min-width: 769px) {
    header {
        padding: 1em; 
    }

    header h1 {
        font-size: 2.5em; 
    }

    nav {
        font-size: 1.2em; 
    }

    nav li a {
        padding: 14px 26px; 
    }

    
}